<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.shalomworshipcentre.shalom"
    android:versionCode="1"
    android:versionName="3.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="in.shalomworshipcentre.shalom.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="in.shalomworshipcentre.shalom.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@drawable/appicon"
        android:label="Shalom"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Shalom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="About"></activity>
        <activity
            android:name=".Check"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Check Updates"></activity>
        <activity
            android:name=".Notif"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Notifications"></activity>
        <activity
            android:name=".New"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="New"></activity>
        <activity
            android:name=".FileBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="File Browesr"></activity>
        <activity
            android:name=".MyMediaPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Media Player"
            android:launchMode="singleInstance"
            android:parentActivityName=".FileBrowser"
            android:theme="@style/Theme.Transparent"></activity>
        <receiver android:name=".RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <service
            android:name=".myPlayService"
            android:enabled="true" />
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="in.shalomworshipcentre.shalom" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
